@charset"utf-8";
#main_header{height: 460px; background:url(../images/sb01_img01.jpg) no-repeat; background-size: cover; position: relative;}
.header_top{width: 1260px; margin: 0 auto; height: 50px;position: absolute; 
	left: 50%; margin-left: -630px; top:40px;}
.header_top  h1{float: left; background:url(../images/new_logo.png) no-repeat; width: 170px; height: 90px; text-indent: -9999px; 
        position: absolute;top: -10px;}
.header_top  h1 a{display: block; line-height: 116px;}
.header_top > .main_menu{float: right; z-index: 1;}

.main_menu>ul{}
.main_menu>ul>li{float: left;}
.main_menu>ul>li>a{display: block; line-height: 50px; padding: 0 30px; color:white; font-size:18px; text-shadow: 0 0 5px #000;}

#main_header .txt{position: absolute; width: 1260px;text-align: center;top: 135px;color:white;}
#main_header h2{font-size:44px; font-weight:bold;margin-bottom: 10px;}
#main_header p{color:white;}
#main_header .sub_menu{width: 1260px; margin: 0 auto; background-color: #eaeaea;
	position: absolute; bottom: 0; left: 50%; transform: translate(-50%,0);
	border-bottom: 2px solid #f2ce16;}
#main_header .sub_menu>ul{}
#main_header .sub_menu>ul>li{float: left; width: 50ㅇ%; line-height: 70px;border-right: 1px solid #bdbdbd; 
	display: block;text-align: center;font-weight:bold; cursor: pointer;}
	#main_header .sub_menu>ul>li.active{background-color: #f2ce16;}
#main_header .sub_menu>ul>li:last-child{border-right: 0 none;}

/*content*/
#content{}
#content .content_wrap{width: 1260px; margin: 0 auto;}
#content .nav{padding-top: 20px;}
#content .nav li{float: left; padding-right: 10px;}
#content .nav a{color:#757575;}
