@charset"utf-8";

#main_header{height: 146px; }
.main_util{padding: 10px 0 10px 0}
.util_menu{width: 980px;height: 30px;background-color: #fff; margin: 0 auto;}
.util_wrap{height: 20px; float: right;}
.util_wrap:after{content:"";, clear: both; display: block;}
.util_wrap>ul>h5>li{float:left; border-right: 1px solid gray;padding:0 10px;}
.util_wrap>ul>h5>li:last-child{border: none;}
.util_wrap>ul>h5>li>a{display: block; color:gray;}

#main_header>h1{width: 200px; text-align: center;height: 60px; margin: 0 auto; }
#main_header>h1{}

.main_menu{height: 45px; background-color: #1d5da4;}
.main_wrap{width: 980px;height: 45px;background-color: #1d5da4; margin: 0 auto;}
.main_wrap>ul:after{content:"";, clear: both; display: block;}
.main_wrap>ul>li{float: left;width: 163.32px; line-height: 45px; border-right: 1px solid #336dac;}
.main_wrap>ul>li:first-child{border-left: 1px solid #336dac;}
.main_wrap>ul>li>a{color: white; font-weight: bold; display: block;text-align: center;}