@charset"utf-8";
/*header*/
header#main_header
	header#main_header>div.main_util{border-bottom: 1px solid #cdcdcd;}
	header#main_header>div.main_util>div.util_menu{width: 980px;height: 20px; margin: 0 auto; }
	header#main_header>div.main_util>div.util_menu>nav.util_wrap{float: right;}
	header#main_header>div.main_util>div.util_menu>nav.util_wrap>ul{  }
	header#main_header>div.main_util>div.util_menu>nav.util_wrap>ul>li{float: left;position: relative;}
	header#main_header>div.main_util>div.util_menu>nav.util_wrap>ul>li:after{content:""; width: 1px;height: 12px;
	background-color: #000;position: absolute;top: 5px;left: 0;}
	nav.util_wrap>ul>li:first-child:after{content:"";display: none;}
	header#main_header>div.main_util>div.util_menu>nav.util_wrap>ul>li>a{display: block; padding: 0 15px; font-size: 0.8em;}

	h1{text-align: center;padding: 10px 0;}

	header#main_header>div.main_menu{background-color: #1d5da4;}
	header#main_header>div.main_menu>nav.menu_wrap{width: 980px; height: 45px;background-color: #1d5da4;margin: 0 auto;}
	header#main_header>div.main_menu>nav.menu_wrap>ul{}
	header#main_header>div.main_menu>nav.menu_wrap>ul>li{float: left; width: 16.666%;border-right: 1px solid #b3b3b3;}
	header#main_header>div.main_menu>nav.menu_wrap>ul>li:first-child{border-left: 1px solid #b3b3b3;}
	header#main_header>div.main_menu>nav.menu_wrap>ul>li>a{display: block;text-align: center;line-height: 45px;color:white; 
		font-weight: bold;}
	header#main_header>div.main_menu>nav.menu_wrap>ul>li>a:hover{background-color:skyblue; color:#1d5da4;}

/*visual*/
	div.visual_wrap{height: 400px;background:#203969 url(../images/visual_bg.jpg) no-repeat center;}
	div.visual_wrap>div.visual{width: 980px; margin: 0 auto; height: 400px;position: relative;}
	div.visual_wrap>div.visual>img.img01{position: absolute;right: 0;bottom: 0;}
	div.visual_wrap>div.visual>img.img02{position: absolute;left: 0;top: 70px;}
/*.visual .img01 / .visual>.img01 이렇게 쓰면 안댐*/
	div#visual_icon{background-color: #eee; margin-bottom: 50px;}
	div#visual_icon>div.icon_wrap{width: 980px;margin: 0 auto;}
	div#visual_icon>div.icon_wrap>ul{}
	div#visual_icon>div.icon_wrap>ul>li{float: left; width: 20%; height: 196px;}
	div#visual_icon>div.icon_wrap>ul>li:nth-child(1){background-color: #7c99b9;}
	div#visual_icon>div.icon_wrap>ul>li:nth-child(2){background-color: #4f74a1;}
	div#visual_icon>div.icon_wrap>ul>li:nth-child(3){background-color: #4b8ce0;}
	div#visual_icon>div.icon_wrap>ul>li:nth-child(4){background-color: #3db5f2;}
	div#visual_icon>div.icon_wrap>ul>li:nth-child(5){background-color: #95c8ff;}
	div#visual_icon>div.icon_wrap>ul>li:hover{background-color: skyblue; cursor: pointer;}

	div#visual_icon>div.icon_wrap>ul>li>.card{padding: 15px;}
	div#visual_icon>div.icon_wrap>ul>li>.card>img{margin: 0 auto;}
	div#visual_icon>div.icon_wrap>ul>li>.card>div.card-body{text-align: center; padding-top: 13px; 
		color: white;}
	div#visual_icon>div.icon_wrap>ul>li>.card>div.card-text{}

	div#img_wrap{width: 980px;margin: 0 auto; overflow: hidden; margin-bottom: 25px;}
	div#img_wrap>ul{}
	div#img_wrap>ul>li{ width: 310px;  float: left; margin-right: 25px;}
	div#img_wrap>ul>li:last-child{margin: 0;}
	div#img_wrap>ul>li>.card1{}
	div#img_wrap>ul>li>.card1>img{padding: 0;}
	div#img_wrap>ul>li>.card1>.card1-body{padding: 17px; border: 1px solid #eee; }
	div#img_wrap>ul>li>.card1>.card1-body>.card1-title{margin-bottom: 15px;}
	div#img_wrap>ul>li>.card1>.card1-body>.card1-text{font-size:0.9em;}


	.section{width: 980px;margin: 0 auto;  }
	.section>ul{}
	.section>ul>li{ float: left;border: 1px solid #eee; margin-right: 25px; margin-bottom: 50px;}
	.section>ul>li:last-child{margin:0;}
	.section>ul>li>.card{width: 308px; height: 170px; position: relative; overflow: hidden; }
	.section>ul>li>.card>img{position: absolute; top: 15px; right: -15px;}
	.section>ul>li>.card>.card-body{position: absolute;padding: 17px 0 17px 17px;}
	.section>ul>li>.card>.card-body>.card-title{margin-bottom: 15px;}
	.section>ul>li>.card>.card-body>.card-text{width: 140px;font-size:0.9em; margin-bottom: 15px;}
	.section>ul>li>.card>.card-body>a{font-size:0.8em; color: #4b8cde}

#footer_wrap{}
#footer_wrap>.footer_util{}
#footer_wrap>.footer_util{height: 35px; background-color: #4d4d4d;}
#footer_wrap>.footer_util>.footer_menu{width: 980px; height: 35px; margin: 0 auto; background-color: #4d4d4d;}
#footer_wrap>.footer_util>.footer_menu>ul{}
#footer_wrap>.footer_util>.footer_menu>ul>li{float: left; position: relative; line-height: 35px;}
#footer_wrap>.footer_util>.footer_menu>ul>li:after{content:""; display: block; width: 1px; height: 15px; background-color: #717171; position: absolute; top: 13px; left: 0;	}
#footer_wrap>.footer_util>.footer_menu>ul>li>a{color: #cbcbcb; font-weight: bold; font-size: 0.9em;  padding: 0 15px; display: block;}


.footer_main{background-color: #5e5e5e; height: 130px; padding: 10px; position: relative;}
.footer_main>.footer_util{font-style: normal;width: 500px;position: absolute;left: 550px;}
.footer_main>.footer_util>p{font-size:0.9em; color: #aaaaaa;margin: 5px;}
.footer_logo{color: white; position: absolute; top: 50px; left: 400px;	}